body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff; /* text in white cuz if its black it aint gon look good */
    background-color: #00274d; /* darkblue background because cool */
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
    line-height: 1.8; /* add some line spacing for readability cuz i cant read */
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .intro img {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        border: 3px solid #ffffff;
        object-fit: cover;
    }



    .intro h1 {
        font-size: 3rem;
        font-weight: bold;
        color: #ffffff;
    }

.skill-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}


h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: #ffffff;
}


ul {
    list-style-type: disc; /* bullet points cuz why not */
    padding-left: 40px; /* padding for indentation */
}

    ul li {
        font-size: 1.2rem;
        margin: 10px 0;
    }


a {
    color: #80d4ff; /*light blue for links duhhh */
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
